.body {
	font-family: arial, sans-serif;
	background-color: #FFF;
}

.header {
	position: absolute;
	top: 10px;
	line-height: 45px;
	display: inline;
	float: right;
	word-spacing: 1.15em;
	padding-right: 40px;
	padding-left: 350px;
	right: 20px;
	font-size: 0.85em;
	color: rgb(69,69,69);
}

#icon {
	border-radius: 5px;
	height: 32px;
	width: 32px;
	border-radius: 100%;
	background-color: red;
	font-size: 2;
	text-align: center;
	float: right;
	word-spacing: 2em;
	position: relative;
	top: 7px;
	left: 30px;
}

.center {
	position: relative;
	top: 60px;
	height: 95px;
	width: 269px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 150px;
}

.btn-container {
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 150px;
	top: 450px;
}

.btn {
	position: relative;
	top: 110px;
	left: 15px;
	background-color: rgb(242,242,242);
	color: rgb(70, 70, 70);
	border: 1px rgb(217, 217, 217) solid;
	display: inline;
	padding: 7px;
	margin: 10px;
	line-height: 27px;
	height: 32px;
	width: 80px;
	font-size: 0.7em;
	border-radius: 2px;
	font-weight: bold;
}



#luckyBTN {

}

img {
	position: absolute;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	height: 95px;
	width: 269px;
	top: 50%;
}

#input {
	position: absolute;
	left: 27.25%;
	top: 310px;
}

input {
	
	z-index: 1;
	line-height: 25px;
	top: 210px;
	border: 1px rgb(216, 216, 216) solid;
	width: 51em;
}
.footer {
	background-color: rgb(239,239,239);
	width: 100%;
	height: 40px;
	line-height: 35px;
	border-top: 1px solid rgb(227,227,227);
	bottom: 0;
	text-align: auto;
	color: rgb(102,102,102);
	font-size: 0.80em;
	vertical-align: middle;
	position: absolute;
}

a {
	color: rgb(102,102,102);
	text-decoration: none;
}

#lfooter:hover {
	text-decoration: underline;
}

#rfooter:hover {
	text-decoration: underline;
}

#lfooter {	
	position: relative;
	float: left;
	top: 2px;
	left: 2px;
	display: inline;
	padding-left: 27px;
	
}

#rfooter {
	position: relative;
	float: right;
	top: 2px;
	right: 2px;
	display: inline;
	padding-right: 27px;
	
}



